.c-filter {
  position: relative;

  margin-bottom: 1.5em;
}

.c-filter__input {
  font-family: var(--ft-sans-serif);

  width: 100%;
  height: 2.25em;

  border: 0;
  border-bottom: .05em solid var(--cl-border);
  outline: none;
}

.c-filter__btn {
  background: transparent;

  font-size: 1.5em;

  position: absolute;
  right: 0;

  width: 1.5em;
  height: 100%;

  cursor: pointer;

  color: var(--cl-text-light);
  border: 0;
  outline: none;
}
