@import url('https://fonts.googleapis.com/css?family=Signika:300,400');

:root {
  --ft-sans-serif: "Signika", "Helvetica Neue", Helvetica, Arial, sans-serif;

  --ft-weight-light: 300;
  --ft-weight-regular: 400;

  --cl-bg-base: #fff;
  --cl-bg-base-transp: rgba(255, 255, 255, .85);

  --cl-border: #555;
  --cl-border-light: #ccc;

  --cl-text: #333;
  --cl-text-light: #777;
}

@custom-media --bp-medium screen and (width >= 600px) and (width <= 960px);
@custom-media --bp-small screen and (width <= 599px);
